.buttonSearch {
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 50px;
    right: 527px;
    border: none;
    outline: 0;
    background-color: #f7931e;
    width: 70px;
    height: 40px;
    border-radius: 4px;
}
.buttonSearch img {
    width: 37px;
}