.header1{
    background-color:#f5f5f5;
    height: 30px;
    padding-top: 1px;
    padding-bottom: 1px;

}

.mobile {
  text-decoration: none;
  color: green;
  font-size: 12x;
  display:inline-block;
  margin-left: 1px;
}
.hp{

    width: 15px;
    height: 15px;
    margin-left: 1px;

}

.bantuan {
    margin-right: 40px;
    text-decoration: none;
    color: #7a7a7a!important;
}

.bantuan-ul {
    height: 250px;
    margin-left: 0px;
}

.bantuan-1 {
    margin-bottom: 50px;
  
}

.bantuan-a {
    text-decoration: none;
    color: #7a7a7a!important;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}
ul li {display: inline-block;}
ul li:hover {background: white;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  height: 120px;
  display: none;
  background-color: white;
  box-shadow: 0px 2px 5px grey;
  margin-left: 0px;
  z-index: 10000000000;
}
.dwn{
    margin-top: 400px;
   padding-left: 40px;
}
ul li ul li {
    margin-left: 20px;
    margin-top: 30px;
}
ul li ul li img {
    margin: auto;
    height: 30px;
    width: 30px;
}

ul li ul li a {
    text-decoration: none;
  
    color: blue;

}

.left-header{
    float: left;
    font-weight: 700;
    color: #08a95b!important;
    font-family: Lato,sans-serif;
    font-size: 12px;
    cursor: pointer;
}



.right-header{
    float: left;
    font-weight: 700;
    color: #7a7a7a!important;
    font-family: Lato,sans-serif;
    font-size: 12px;
    cursor: pointer;
    margin-left: 400px;
    box-sizing: inherit;
    margin-top: 3px;
}

.right-header > a {
    margin-right: 50px;
}