.inspirasi{
    position: relative;
    margin-top: 320px;
    background-color: white;
    box-shadow: 0 2px 4px 0 #cccccc;
}

.inspirasi div {
    background-color: white;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}

.inspirasi-text {
    padding-top: 10px;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 26px;
}

.large{
    margin: 5px 5px 5px 5px;
}

.small {
    width: 80px;
    margin: 10px 10px 10px 10px;
}