.body1{
   

}

.prod-div{
    border-bottom: 1px solid #ccc;
    height: 25px;
    background-color:#fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.prod-div img {
    margin-left: 5px;
    height: 25px;
    position: absolute;
}

.prod-div a {
    margin: 0px 0px 0px 20px;
    position: inherit;
}

.prod-div1{
    border: 1px solid black;
    width: 950px;
    height: 890px;
    border-bottom: 1px solid #ccc;
    background-color:#fff;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 15px;
    position: absolute;
}

.prod-rigth{
    border: 1px solid black;
    padding: 5px;
    height: 920px;
    width: 220px;
    margin-left: 990px;

}
.prod-name{
    border: 1px solid black;
    height: 70px;
}

.cot{
    display: flex;
}

.prod-img{
    border: 1px solid black;
    height: 425px;
    width: 425px;
    padding: 5px;
    position: absolute;
}

.prod-list{
    border: 1px solid black;
    padding: 5px;
    height: 380px;
    width: 465px;
    margin-left: 460px;
    background-color: white;
}

.prod-list p{
    border-bottom: 1px solid #ccc;
    background-color: white;
    font-weight: bold;
    font-size: 12pt;
    margin: 20px 0px 30px 20px;
    padding-bottom: 10px;
}
.prod-div2{
   background-color: white;
   width: 140px;
   position: absolute;
}

.prod-div3{
    background-color: white;
    height: 380px;
    width: 315px;
    margin-left: 150px;
}

.prod-detail{
    border: 1px solid black;
    padding: 5px;
    height: 130px;
    width: 465px;
    margin-left: 460px;
}

.prod-foto{
    border: 1px solid black;
    height: 65px;
    width: 425px;
    padding: 5px;
    position: absolute;
}

.prod-fitur{
    border: 1px solid black;
    width: 425px;
    height: 280px;
    padding: 5px;
    position: absolute;
}

.prod-kupon{
    border: 1px solid black;
    margin-top: 30px;
    padding: 5px 5px 5px 5px;
    width: 465px;
    height: 200px;
    margin-left: 460px;
}

.product-feature {

    margin-bottom: 20px;
    font-size: 13px;
    /* font-weight: bold; */
    color: #333333;
    margin-bottom: 5px;
    display: block;
    margin: 0;
    padding: 0 0 0 15px;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: 19.5px;
    text-size-adjust: 100%;

}
  

.product-feature ul {
    padding-left: 0;
    /* list-style-image: url(https://assets.ubuntu.com/sites/ubuntu/latest/u/img/favicon.ico); */
}
.product-feature li {
    line-height: 1.71;
    font-size: 14px;
    list-style-type: disc;
    display: block;
}
/* .product-feature li a {
    display: inline-block;
    text-decoration: underline;
    margin-left: 15px; 
} */

.product-service {
    padding: 0 0 0 15px;

}

.product-service ul {

}

.product-service li {
    
}