.body1{
   background-color: white;

}

.prod-div{
    border-bottom: 20px solid #f1f1f1f8;
    height: 25px;
    background-color:#fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.prod-div img {
    margin-left: 5px;
    height: 25px;
    position: absolute;
}

.prod-div a {
    margin: 0px 0px 0px 20px;
    position: inherit;
}

.prod-div1{
    width: 950px;
    height: 890px;
    border-bottom: 1px solid #ccc;
    background-color:#fff;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 15px;
    position: absolute;
}

.prod-rigth{
    padding: 10px;
    height: 920px;
    width: 235px;
    margin-left: 990px;

}
.prod-name{
    background-color: white;
    padding-left: 20px; 
    height: 60px;
    font-size: 22pt;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.cot{
    display: flex;
}

.prod-img{
    max-height: 395px;
    max-width: 425px;
    padding: 5px;
    position: absolute;

}


.prod-list{
    padding: 5px;
    height: 380px;
    width: 465px;
    margin-left: 460px;
    background-color: white;
}

.prod-list p{
    border-bottom: 1px solid #ccc;
    background-color: white;
    font-weight: bold;
    font-size: 12pt;
    margin: 20px 0px 30px 20px;
    padding-bottom: 10px;
}
.prod-div2{
   background-color: white;
   width: 140px;
   position: absolute;
}

.prod-div3{
    background-color: white;
    height: 380px;
    width: 315px;
    margin-left: 150px;
}

.prod-detail{
    background-color: white;
    padding: 5px;
    height: 130px;
    width: 465px;
    margin-left: 460px;
    border-bottom: 1px solid #ccc;
}

.prod-foto{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    background-color: white;
    height: 120px;
    width: 370px;
    margin-top: 10px;
    padding-left: 30px;
    position: absolute;
}
.prod-foto img {
    border: 1px solid rgb(192, 192, 192);
    margin-right: 5px;
}

.prod-fitur{
    width: 425px;
    height: 280px;
    padding: 5px;
    position: absolute;
}

.prod-kupon{
    margin-top: 35px;
    padding: 5px 5px 5px 5px;
    width: 465px;
    height: 200px;
    margin-left: 460px;
    box-shadow: 0 2px 4px 0 #cccccc;
}

.jumlah{
    background-color: white;
    font-weight: bold;
    font-size: 12pt;
    margin: 20px 0px 30px 20px;
    padding-bottom: 10px;
}

.input-jumlah{
    background-color: white;
    font-weight: bold;
    font-size: 12pt;
    margin-left: 100px;
    padding-bottom: 10px;
}

.input-jumlah input {
    background-color: white;
    width: 30px;
    height: 20px;
}
.input-jumlah button {
    width: 10px;
    height: 20px;
}

.button-pay{
    padding-top: 30px;
    padding-left: 25px;
    background-color: white;
  
}
.button-pay button{
    border:0px transparent;
    font-size: 11pt;
    cursor: pointer;
    font-weight: bold;
    color: white;
    margin-right: 25px; 
    height: 40px;
    width: 170px;
}
.inpud{
    text-align: center;
}

.prod-lihat{
    padding-top: 10px;
    width: 1233px;
    height: 380px;
}

.product-feature {

    margin-bottom: 20px;
    font-size: 13px;
    /* font-weight: bold; */
    color: #333333;
    margin-bottom: 5px;
    display: block;
    margin: 0;
    padding: 0 0 0 15px;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: 19.5px;
    text-size-adjust: 100%;

}
  

.product-feature ul {
    padding-left: 0;
    /* list-style-image: url(https://assets.ubuntu.com/sites/ubuntu/latest/u/img/favicon.ico); */
}
.product-feature li {
    line-height: 1.71;
    font-size: 14px;
    list-style-type: disc;
    display: block;
}
/* .product-feature li a {
    display: inline-block;
    text-decoration: underline;
    margin-left: 15px; 
} */

.mini {
    max-width: 112px;
    max-height: 112px;
}

.product-service {
    padding: 0 0 0 15px;

}

/* .product-service ul {

}

.product-service li {
    
} */
.prod-des {
    box-shadow: 0 2px 4px 0 #cccccc;
    height: 500px;
    width: 1230px;
}
