.sub-div{
    border-bottom: 1px solid #ccc;
    height: 25px;
    background-color:#fff;
    cursor: pointer;
    margin: 0!important;
}
.home{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sub-div img {
    margin-left: 5px;
    height: 25px;
    position: absolute;
}

.sub-div a {
    margin: 0px 0px 0px 20px;
    position: inherit;
}

.sub-div2 {
    border-bottom: 1px solid #ccc;
    height: 70px;
    background-color:#fff;
    cursor: pointer;
}

.span1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16pt;
    margin: 0px 30px 10px 30px;
}

.slide {
    margin-top: 10px;
}